[submodule "MyGameEngine/vendor/spdlog"]
	path = MyGameEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule ".\\MyGameEngine\\vendor\\GLFW"]
	path = .\\MyGameEngine\\vendor\\GLFW
	url = https://github.com/glfw/glfw
